
/* Created by Alessandro, it replaced .content for the index.hbs */

.content {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    position: relative;
}

.main-content {
    overflow: hidden;
    width: 75%;
    /*max-width: 710px;*/
    float: left;
    /*background-color: #C8E7F1;*/
    padding: 0px;
}

.sidebar {
    width: 25%;
    float: right;
    /*background-color: #FF0017;*/
    padding-top: 55px;
}

.sidebox-content {
    padding-right: 50px;
}

/* For mobile devices */
@media screen and (max-width: 600px) {

    .main-content {
        overflow: hidden;
        width: 100%;
        /*max-width: 710px;*/
        float: left;
        /*background-color: #C8E7F1;*/
        padding: 0px;
    }

    .sidebar {
        visibility: hidden;
    }

}
